<nav class="navbar navbar-expand-lg .navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-music-note-beamed"></i> MusicVibes
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/armonia" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi-music-note"></i> Armonía
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="/ritmo" routerLinkActive="active">
            🥁Ritmo y Compás
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/notas" routerLinkActive="active">
            <i class="bi-music-note-list"></i> Notas y Escalas
          </a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" routerLink="/bellezas" routerLinkActive="active">
          <i ></i> Bellezas😍🎸
        </a>
      </li>
        
        
        <li class="nav-item">
          <a class="nav-link" routerLink='/carrito'>
            <i>🛒Carrito</i>
            <span *ngIf="cantidadProductos>0">
             {{cantidadProductos}}
            </span>
          </a>
        </li>
      </ul>
      
    

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar música..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>

<!-- Asegúrate de incluir Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">