nav {
  padding: 1rem;
  color: white;
}

.nav-notas {
  background-color: #3498db; /* Azul para Notas */
}

.nav-ritmo {
  background-color: #e67e22; /* Naranja para Ritmo */
}

.nav-armonia {
  background-color: #9b59b6; /* Violeta para Armonía */
}
