

 <div class="ohh">
 <title>Galería de Guitarras</title>


  <h1>🎸 Galería de Guitarras</h1>
  
 
    <div class="container">
    <ng-container *ngIf="productos && productos.length">
    <ng-container *ngFor="let producto of productos">
      <div *ngIf="producto.disponible" class="card">
      <img [src]="producto.imagen" alt="Guitarra semiacústica" />
      <div class="info">
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.descripccion}}</p>
        <p>${{producto.precio}}</p>
        
         <button class="btn-rock" (click)="agregar(producto)">R0CK</button>
      </div></div>


 
