

 <div class="ohh">
 <title>Galería de Guitarras</title>


  <h1>🎸 Galería de Guitarras</h1>
  
  <!--<div class="container">
    <div class="card">
      <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/IBANEZ/2103171142315801_01_medium.jpg" alt="Guitarra eléctrica roja" />
      <div class="info">
        <h2>Strato Roja</h2>
        <p>Guitarra eléctrica con cuerpo de aliso y pastillas single coil. Ideal para rock y blues.</p>
        <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://solomusica.com.ar/sm2020/9107-large_default/gibson-les-paul-signature-120-anniversary-guitarra-electrica-.jpg" alt="Guitarra Les Paul" />
      <div class="info">
        <h2>Les Paul Classic</h2>
        <p>Sonido cálido y potente con humbuckers. Perfecta para hard rock y metal clásico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://www.redidguitar.com/cdn/shop/files/41lqElDcwjL._SL500.jpg?v=1688040837" alt="Guitarra semiacústica" />
      <div class="info">
        <h2>Jazz Hollowbody</h2>
        <p>Diseñada para tonos limpios y jazzeros. Sonido vintage con cuerpo semiacústico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>
    <div class="card">
      <img src="https://www.heavenimagenes.com/heavencommerce/5765a4f8-445b-48f8-889e-9378aee05156/images/v2/WINZZ/14696_xlarge.jpg" />
      <div class="info">
        <h2>Strato Roja</h2>
        <p>Guitarra eléctrica con cuerpo de aliso y pastillas single coil. Ideal para rock y blues.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://www.heavenimagenes.com/heavencommerce/0c5cacb8-dfbd-471a-ac7e-5c09a26f6da9/images/v2/IBANEZ/6778_large.jpg" alt="Guitarra Les Paul" />
      <div class="info">
        <h2>Les Paul Classic</h2>
        <p>Sonido cálido y potente con humbuckers. Perfecta para hard rock y metal clásico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://solomusica.com.ar/sm2020/6990-home_default/ibanez-grx40-guitarra-electrica.jpg" alt="Guitarra semiacústica" />
      <div class="info">
        <h2>Jazz Hollowbody</h2>
        <p>Diseñada para tonos limpios y jazzeros. Sonido vintage con cuerpo semiacústico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div><div class="card">
      <img src="https://sc1.musik-produktiv.com/pic-010161497l/ibanez-rg550-eb-genesis-collection.jpg" />
      <div class="info">
        <h2>Strato Roja</h2>
        <p>Guitarra eléctrica con cuerpo de aliso y pastillas single coil. Ideal para rock y blues.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://alvarezmusica.com.ar/1109-large_default/guitarra-electrica-ibanez-gsa-60-bs.jpg" alt="Guitarra Les Paul" />
      <div class="info">
        <h2>Les Paul Classic</h2>
        <p>Sonido cálido y potente con humbuckers. Perfecta para hard rock y metal clásico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://oechsle.vteximg.com.br/arquivos/ids/17486142/imageUrl_1.jpg?v=638506163839430000" alt="Guitarra semiacústica" />
      <div class="info">
        <h2>Jazz Hollowbody</h2>
        <p>Diseñada para tonos limpios y jazzeros. Sonido vintage con cuerpo semiacústico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div><div class="card">
      <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/IBANEZ/2103171143072854_01_large.jpg" alt="Guitarra eléctrica roja" />
      <div class="info">
        <h2>Strato Roja</h2>
        <p>Guitarra eléctrica con cuerpo de aliso y pastillas single coil. Ideal para rock y blues.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://sc1.musik-produktiv.com/pic-010156371xxl/gibson-70s-explorer-antique-natural.jpg" />
      <div class="info">
        <h2>puto</h2>
        <p>Sonido cálido y potente con humbuckers. Perfecta para hard rock y metal clásico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://laflautamusical.mx/cdn/shop/products/8203316-1.jpg?v=1662402849" alt="Guitarra semiacústica" />
      <div class="info">
        <h2>Jazz Hollowbody</h2>
        <p>Diseñada para tonos limpios y jazzeros. Sonido vintage con cuerpo semiacústico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div><div class="card">
      <img src="https://www.heavenimagenes.com/heavencommerce/0c5cacb8-dfbd-471a-ac7e-5c09a26f6da9/images/v2/IBANEZ/25903_xlarge.jpg" />
      <div class="info">
        <h2>Strato Roja</h2>
        <p>Guitarra eléctrica con cuerpo de aliso y pastillas single coil. Ideal para rock y blues.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://www.heavenimagenes.com/heavencommerce/e11e0483-99c8-4ad2-b3a9-bfb26fc81402/images/v2/IBANEZ/2103171142395499_01_xlarge.jpg" alt="Guitarra Les Paul" />
      <div class="info">
        <h2>Les Paul Classic</h2>
        <p>Sonido cálido y potente con humbuckers. Perfecta para hard rock y metal clásico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://sc1.musik-produktiv.com/pic-010158473xxl/ibanez-gio-grx120sp-vrd.jpg" alt="Guitarra semiacústica" />
      <div class="info">
        <h2>Jazz Hollowbody</h2>
        <p>Diseñada para tonos limpios y jazzeros. Sonido vintage con cuerpo semiacústico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div><div class="card">
      <img src="https://static.bax-shop.es/image/product/56473/171309/918a4e39/450x450/Ibanez_GRG170DX_BKN_Gio_RG_elektrische_gitaar_blauw_1.jpg" alt="Guitarra eléctrica roja" />
      <div class="info">
        <h2>Strato Roja</h2>
        <p>Guitarra eléctrica con cuerpo de aliso y pastillas single coil. Ideal para rock y blues.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>

    <div class="card">
      <img src="https://stratusmusicstore.com.mx/cdn/shop/products/GUITARRAIBANEZGRX70QA-TRBELECTRICARO_1200x.jpg?v=1611888495" alt="Guitarra Les Paul" />
      <div class="info">
        <h2>Les Paul Classic</h2>
        <p>Sonido cálido y potente con humbuckers. Perfecta para hard rock y metal clásico.</p>
         <button class="btn-rock">R0CK</button>
      </div>
    </div>
-->
    <div class="card">
    <ng-container *ngIf="productos && productos.length">
    <ng-container *ngFor="let producto of productos">
      <div *ngIf="producto.disponible" class="card">
      <img [src]="producto.imagen" alt="Guitarra semiacústica" />
      <div class="info">
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.descripccion}}</p>
        <p>{{producto.precio}}</p>
        
         <button class="btn-rock" (click)="agregar(producto)">R0CK</button>
      </div></div>


 
<h1>productos</h1>
<div class="card-container">
  <ng-container *ngIf="productos && productos.length">
    <ng-container *ngFor="let producto of productos">
      <div *ngIf="producto.disponible" class="card">
        <img [src]="producto.imagen" alt="" class="produc-image">
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.descripccion}}</p>
        <p>{{producto.precio}}</p>
        <button type="button" class="btn btn-outline-primary" (click)="agregar(producto)">agregar al carrito</button>
      </div>