<!DOCTYPE html>

  <header class="jamon">
    <h1><i>Teoría Musical</i></h1>
   <i>Explorá los fundamentos del lenguaje musical</i>
  </header>

  <main class="ponele">   
    <div class="section">
      <div class="icon"><i class="fas fa-guitar"></i></div>
      <h2 class="section-title">Notas y Escalas</h2>
      <p class="section-description">Aprendé qué son las notas musicales, cómo se forman las escalas mayores y menores, y cómo se relacionan entre sí en el círculo de quintas.</p>
      <a class="nav-link active" aria-current="page"  routerLink="/notas"  >
        <button class="explore-button">Explorar</button>
      </a>
    </div>

    <div class="section">
      <div class="icon"><i class="fas fa-drum"></i></div>
      <h2 class="section-title">Ritmo y Compás</h2>
      <p class="section-description">Comprendé el pulso musical, los distintos tipos de compases y cómo se combinan figuras rítmicas para crear patrones únicos.</p>
      <a class="nav-link active" aria-current="page"  routerLink="/ritmo"  >
        <button class="explore-button">Explorar</button>
      </a>
    </div>

    <div class="section">
      <div class="icon"><i class="fas fa-keyboard"></i></div>
      <h2 class="section-title">Armonía</h2>
      <p class="section-description">Descubrí la magia de los acordes, progresiones armónicas y cómo se construyen las canciones desde su estructura tonal.</p>
      <a class="nav-link active" aria-current="page"  routerLink="/armonia" routerLinkActive="active" >
        <button class="explore-button">Explorar</button>
      </a>
    </div>
  </main>



